body {
  margin: 0;
  background: black;
  font-family: Shabnam;
  width: 100vw;
}

.close {
  background: rgba(0, 0, 0, .4);
  border-radius: 100px;
  padding: 10px;
  position: fixed;
  left: 10px;
  top: 150px;
  color: black;
  z-index: 11111111;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
  opacity: 0.5;
  position: absolute;
}

::-webkit-scrollbar {
  width: 5px;
  opacity: 0.5;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  opacity: 0.5;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .7);
  width: 2px;
}

.modal-bg {
  position: fixed;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
}

.modal {
  background: rgba(255, 255, 255, 1);
  border-radius: 28px;
  box-sizing: border-box;
  overflow-y: auto;
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.headerbg {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

header {
  margin: 10px;
  width: 100%;
  background: white;
  border-radius: 100px;
  padding: 10px;
  max-width: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
}

header img {
  cursor: pointer;
  width: 35px;
  vertical-align: middle;
}

header i {
  cursor: pointer;
  background: black;
  color: white;
  border-radius: 100px;
  padding: 10px;
}

.posts {
  padding-top: 80px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.post {
  margin-bottom: 10px;
  width: 100%;
  max-width: 600px;
}

.post img {
  width: 100%;
  border-radius: 28px;
  cursor: pointer;
}

.modal .post {
  /*   position: relative; */
}

.modal .post img {
  /*   margin-top: 22px; */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

footer {
  max-width: 600px;
  width: 95%;
  border-top: 1px solid rgba(255, 255, 255, .3);
  text-align: center;
  color: white;
  letter-spacing: 10px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 100px;
  font-size: 0.8rem;
}

.post .title {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 14px;
  text-align: center;
  color: black;
  font-weight: bold;
  margin-top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.post .desc {
  width: 100%;
  padding: 20px 25px;
  box-sizing: border-box;
  text-align: right;
  color: black;
  font-size: 0.9rem;
  font-weight: 100;
  line-height: 25px;
}

@media only screen and (max-width: 1000px) {

  .modal,
  footer,
  header {
      width: 100%;
  }
}